[Unit]
Description=Map Caps to Escape in Console

[Service]
Type=oneshot
ExecStart=/usr/local/bin/kvmc autostart

ExecStop=/usr/local/bin/kvmc shutdown all
ExecStop=/usr/local/bin/kvmc graceful stop timeout 60

[Install]
WantedBy=network.target
